.main-wrap {

    .left-nav {
        height: 100vh;
        background-color: #0b1c2c;
    }

    .content-wrap {
        .content {
            min-height: 100px;
            background-color: #f1f3f5;
        }
    }

}
